*.bak
*.BAK
Build
MANIFEST
META.yml
_build/*
blib/*
*.tar.gz
cover_db/*
*.tmp
t/*.db
Makefile
pm_to_blib
log/*
!log/.gitignore
db/*
!db/.gitignore
extlib/*
!extlib/.gitignore
script/hypnotoad.pid
!public/.gitignore
script/hypnotoad.pid
